@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  outline: none;
  cursor: none;
}

::selection {
  background: #ffffff;
  color: #000000;
}

body {
  overflow: hidden;
}
body .cursor .cursor-ball {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #ffffff;
  mix-blend-mode: difference;
}
body .cursor .cursor-ball.button-hover {
  background: #9a8fff;
}
body .cursor .cursor-ball-follower {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 100ms ease;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  mix-blend-mode: difference;
}
body .cursor .cursor-ball-follower.button-hover {
  border: 1px solid #9a8fff;
  height: 50px;
  width: 50px;
}
body .cursor .cursor-ball-follower.click {
  height: 4px;
  width: 4px;
}
body .background {
  filter: blur(10px);
  transform: scale(5);
  transition: 1500ms ease;
  z-index: -1;
}
body .background.visible {
  filter: blur(0px);
  transform: scale(1);
}
body .bottom-buttons {
  position: fixed;
  z-index: 999;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 15px;
}
body .bottom-buttons .scroll-down {
  background: #353535;
  color: #ffffff;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  user-select: all;
  transition: 250ms ease;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(50px);
}
body .bottom-buttons .scroll-down.visible {
  opacity: 1;
  transform: translateX(0px);
  filter: blur(0px);
}
body .bottom-buttons .scroll-down .icon {
  height: 16px;
  width: 16px;
  fill: #a0a0a0;
  transition: 250ms ease;
}
body .bottom-buttons .scroll-down .icon {
  margin-top: 5px;
}
body .bottom-buttons .scroll-down:hover {
  background: #2d2d2d;
}
body .bottom-buttons .scroll-down:hover .icon {
  margin-top: 15px;
  fill: #ffffff;
}
body .bottom-buttons .scroll-up {
  background: #353535;
  color: #ffffff;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  user-select: all;
  transition: 250ms ease;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-50px);
}
body .bottom-buttons .scroll-up.visible {
  opacity: 1;
  transform: translateX(0px);
  filter: blur(0px);
}
body .bottom-buttons .scroll-up .icon {
  height: 16px;
  width: 16px;
  fill: #a0a0a0;
  transition: 250ms ease;
}
body .bottom-buttons .scroll-up:hover {
  background: #2d2d2d;
}
body .bottom-buttons .scroll-up:hover .icon {
  margin-bottom: 10px;
  fill: #ffffff;
}
body .page-container {
  position: absolute;
  overflow: hidden;
  max-height: 100vh;
  z-index: 998;
}
body .page-container .page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body .page-container .page .code-field {
  background: #0d1214;
  color: #ffffff;
  font-family: Consolas, monospace;
  margin-top: 200px;
  margin-left: 325px;
  z-index: 999;
  line-height: 1.275;
  width: fit-content;
  border: 1px solid #1b2224;
  padding: 25px;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(-50px);
  filter: blur(5px);
  transition: 1s ease;
}
body .page-container .page .code-field.visible {
  opacity: 1;
  transform: translateX(0px);
  filter: blur(0px);
}
body .page-container .page .code-field * {
  font-family: Consolas, monospace;
}
body .page-container .page .code-field .line::before {
  content: attr(data-line);
  display: inline-block;
  width: 25px;
  margin-right: 15px;
  color: #353535;
  font-size: 15px;
  font-family: Consolas, monospace;
}
body .page-container .page .code-field .line .kw {
  color: #fe435f;
}
body .page-container .page .code-field .line .i {
  color: #9a8fff;
}
body .page-container .page .code-field .line .p {
  color: #727272;
}
body .page-container .page .code-field .line .st {
  color: #43fe97;
}
body .page-container .page .code-field .line .fu {
  color: #5643fe;
}
body .page-container .page .code-field .line .o {
  color: #fefe43;
}
body .page-container .page .code-field .line .c {
  color: #353535;
}
body .page-container .page .code-field .line .nb {
  color: #fe9a43;
}
body .page-container .page .project-items {
  display: flex;
  flex-direction: column;
  margin-top: 275px;
  margin-left: 350px;
  z-index: 999;
  gap: 15px;
  list-style: none;
  opacity: 0;
  transform: translateX(-50px);
  filter: blur(5px);
  transition: 1s ease;
}
body .page-container .page .project-items.visible {
  opacity: 1;
  transform: translateX(0px);
  filter: blur(0px);
}
body .page-container .page .project-items .project {
  color: #ffffff;
  padding-left: 20px;
  transition: 250ms ease;
  width: fit-content;
}
body .page-container .page .project-items .project::before {
  content: "•";
  color: #727272;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -50px;
  transition: 250ms ease;
}
body .page-container .page .project-items .project:hover {
  color: #fe435f;
}
body .page-container .page .project-items .project:hover::before {
  padding-right: 15px;
}
body .page-container .page .project-items .project .name {
  font-family: Consolas, monospace;
  font-size: 26px;
}
body .page-container .page .project-items .project .date {
  font-family: Consolas, monospace;
  font-size: 16px;
  color: #727272;
}
body .page-container .page .project-items .project .banner {
  display: none;
}
body .page-container .page .timeline {
  width: 1px;
  background: #fe435f;
  position: absolute;
  left: 300px;
}
body .page-container .page .timeline.top {
  height: calc(100vh - 100px);
  margin-top: 100px;
}
body .page-container .page .timeline.top::before {
  content: "";
  height: 6px;
  width: 6px;
  position: absolute;
  border: 1px solid #fe435f;
  border-radius: 50%;
  transform: translate(calc(-50% + 0.5px), -100%);
}
body .page-container .page .timeline.bottom {
  height: calc(100vh - 100px);
  margin-bottom: 100px;
}
body .page-container .page .timeline.bottom::before {
  content: "";
  height: 6px;
  width: 6px;
  position: absolute;
  border: 1px solid #fe435f;
  border-radius: 50%;
  bottom: 0;
  transform: translate(calc(-50% + 0.5px), 100%);
}
body .page-container .page .timeline.middle {
  height: 100vh;
  margin-top: 0;
}
body .page-container .page .timeline .page-label {
  margin: 0 25px;
  color: #ffffff;
  font-family: Consolas, monospace;
  white-space: nowrap;
  color: #5643fe;
  opacity: 0;
  transform: translateX(-50px);
  filter: blur(5px);
  transition: 1s ease;
}
body .page-container .page .timeline .page-label.visible {
  opacity: 1;
  transform: translateX(0px);
  filter: blur(0px);
}
body .page-container .page .timeline .page-label .p {
  color: #727272;
}
body .page-container .page .timeline .page-info {
  color: #ffffff;
  font-family: Consolas, monospace;
  width: fit-content;
  white-space: nowrap;
  margin: 10px 25px;
  font-size: 25px;
  opacity: 0;
  transform: translateX(-50px);
  filter: blur(5px);
  transition: 1s ease;
}
body .page-container .page .timeline .page-info.visible {
  opacity: 1;
  transform: translateX(0px);
  filter: blur(0px);
}
body .page-container .page .timeline.middle .page-label, body .page-container .page .timeline.bottom .page-label {
  margin-top: 150px;
}
body .page-container .page .timeline.middle .page-label::before, body .page-container .page .timeline.bottom .page-label::before {
  content: "";
  height: 6px;
  width: 6px;
  position: absolute;
  border: 1px solid #fe435f;
  border-radius: 50%;
  left: -25px;
  top: 15px;
  background: #0d1214;
  transform: translate(calc(-50% + 0.5px), -100%);
}
body .page-container .page .navbar {
  width: 100vw;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .page-container .page .navbar .nav-links {
  display: flex;
  padding: 0 15px;
  gap: 15px;
}
body .page-container .page .navbar .nav-links .link {
  background: none;
  border: none;
  color: #ffffff;
  opacity: 0;
  transform: translatey(-50px);
  filter: blur(5px);
  transition: 500ms ease;
}
body .page-container .page .navbar .nav-links .link.visible {
  opacity: 1;
  transform: translatey(0px);
  filter: blur(0px);
}
body .page-container .page .navbar .nav-links .link::before {
  content: "<";
  color: #727272;
}
body .page-container .page .navbar .nav-links .link::after {
  content: " />";
  color: #727272;
}
body .page-container .page .navbar .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(50px);
  transition: 500ms ease;
  filter: blur(5px);
}
body .page-container .page .navbar .avatar.visible {
  opacity: 1;
  transform: translateX(0px);
  filter: blur(0px);
}
body .page-container .page .introduction {
  margin: 150px 250px;
  transform: translateY(50px);
  filter: blur(10px);
  transition: 1s ease;
  display: flex;
  flex-direction: column;
  gap: 25px;
  opacity: 0;
}
body .page-container .page .introduction.visible {
  opacity: 1;
  transform: translateY(0px);
  filter: blur(0px);
}
body .page-container .page .introduction .page-title {
  font-size: 75px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Paytone One", sans-serif;
  line-height: 1.1;
}
body .page-container .page .introduction .page-title .wave {
  height: 100px;
  width: 100px;
  margin-right: 15px;
  transition: 100ms ease;
  animation: wave 750ms infinite ease-in-out;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body .page-container .page .introduction .page-title .hello {
  color: #fe435f;
  font-family: "Paytone One", sans-serif;
}
body .page-container .page .introduction .page-title .title-name {
  font-size: 8vw;
  font-family: "Paytone One", sans-serif;
  line-height: 1.1;
  position: relative;
  color: #5643fe;
  pointer-events: none;
}
body .page-container .page .introduction .page-title .title-name::before {
  content: attr(data-content);
  position: absolute;
  top: 15px;
  left: -10px;
  color: #43fe97;
}
body .page-container .page .introduction .page-title .title-name::after {
  content: attr(data-content);
  position: absolute;
  top: 20px;
  left: -5px;
  color: #ffffff;
}
body .page-container .page .introduction .description {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.5;
  max-width: 650px;
  font-family: Consolas, monospace;
  margin-left: 25px;
}
body .page-container .page .introduction .description .kw {
  color: #fe435f;
  font-weight: 500;
}
body .page-container .page .introduction .description::before {
  content: "<";
  display: block;
  margin-bottom: 15px;
  margin-left: -25px;
  color: #727272;
}
body .page-container .page .introduction .description::after {
  content: "/>";
  display: block;
  margin-top: 15px;
  margin-left: -25px;
  color: #727272;
}

/*# sourceMappingURL=main.css.map */
